* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #677AC7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del-bttn {
    max-width: 2rem;
    border: none;
    background-color: white;
}

i:hover {
    color: #d9d9d9;
}

ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.1rem;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #5768aa;
}

li>* {
    flex: 1;
}


.bttn {
    width: 50%;
    max-width: 8rem;
    padding: 0.4rem 0.2rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.3rem #5768aa;
    border: none;
    border-radius: 0.2rem;
    margin: 0.2rem 1rem;

}

.bttn:hover {
    background-color: #d9d9d9;
}

#user-input {
    width: 90%;
    margin: 1rem 1rem;
    padding: 0.5rem 0.3rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #5768aa;
}

input[type="checkbox"] {
    max-width: 2rem;
}

@media(min-width: 500px) {
    .container {
        flex-direction: row;
    }

    .list {
        width: 70%;
        margin: auto;
    }

    p {
        font-size: large;
    }

    li {
        text-align: center;
    }
}

@media(min-width: 900px) {
    .list {
        width: 60%;
    }
}